@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
}

a {
	color: #000000;
	text-decoration: none;
	transition: all.6s ease;
	-ms-transition: all.6s ease;
	-o-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
	font-family: "Itim";
}

a:hover {
	color: #26C439;
	text-decoration: none;
	transition: all.6s ease;
	-ms-transition: all.6s ease;
	-o-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-webkit-transition: all.6s ease;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	-moz-transition: all 3s ease;
	-o-transition: all 3s ease;
	-webkit-transition: all 3s ease;
	-ms-transition: all 3s ease;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid silver;
	margin: lem 0;
	padding: 0;

}

header {
	float: left;
	background-color: white;
	width: 99.4%;
	padding: 0.3%;
	color: white;
	border-bottom: 5px solid #1CBF4A;
}

header>div#logo>a>img {
	width: 100px;
	height: 50px;
	float: left;

}

header>div#logo>a {
	color: #16903B;
}

header>div#logo>a>span {
	font-size: 2.5em;
	margin-left: 10px;
}

#about {
	float: left;
	width: 37%;
}

#text {
	color: #FFFFFF;
	text-align: center;
	font-size: 3em;
	background-color: #FFFFFF;
	background-image: url(img/woodwall.jpg);
	border-bottom: 5px solid #1CBF4A;
	font-family: "Itim";


}

head>div#back>img {
	width: 50%;
	height: 1000px;

}

#back {
	background-color: #FFFFFF;
	background-image: url(img/woodwall.jpg);
	background-size: auto;
	
}

.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 0.5em;
}

#text2 {
	position: absolute;
	color: #000000FF;
	top: 45%;
	left: 30%;
	transform: translate(-50%, -50%);
	font-size: 2em;
	font-family: "Itim";
}
